/* General Styles */
body {
  background-color: #040D12;
  color: #93B1A6;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #183D3D;
  color: #93B1A6;
  text-align: center;
  padding: 20px;
}

h2 {
  margin-top: 40px;
}

/* Flexbox Section */
.flexbox-section {
  padding: 20px;
  background-color: #183D3D;
}

.flexbox-examples {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.flexbox-examples .box {
  background-color: #5C8374;
  color: #040D12;
  padding: 20px;
  text-align: center;
  flex: 1 1 calc(20% - 20px); /* 5 elementos por fila con espacio */
  border-radius: 8px;
  transition: transform 0.3s;
}

.flexbox-examples .box:hover {
  transform: scale(1.05);
}

/* Grid Section */
.grid-section {
  padding: 20px;
  background-color: #183D3D;
}

.grid-examples {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
}

.grid-examples .box {
  background-color: #5C8374;
  color: #040D12;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  transition: transform 0.3s;
}

.grid-examples .box:hover {
  transform: scale(1.05);
}

/* Footer */
footer {
  background-color: #183D3D;
  color: #93B1A6;
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
}
